FORMAT: 1A
HOST: http://mc-sportevent-api.junaidahmed.online/api/v1

# Sport Event 

Sport event is basic racing event where athlets complete the races, they crosses through corridor
and finish line. Both point have chip sensors which listens to chip devices attached to athlets hands 
once recived data, device send information to Port. 




## Sport Event [/sport-event]

### List All Sport Events [GET]

+ Response 200 (application/json)

        {
            "events": [
                {
                    "id": 7,
                    "event_start": "11 Oct 2017 21:21:25.588300",
                    "created_at": "2017-10-11 21:21:25",
                    "updated_at": "2017-10-11 21:21:25",
                    "completed": 0
                },
                {
                    "id": 7,
                    "event_start": "11 Oct 2017 21:21:25.588300",
                    "created_at": "2017-10-11 21:21:25",
                    "updated_at": "2017-10-11 21:21:25",
                    "completed": 0
                },
            ],
            "success": true,
            "status": 200
        }


### Create Sport Events [POST]

For now there is nothing in request, in future events name and other attributes can be added.

+ Request (application/json)
        
        {
        }

+ Response 200 (application/json)

        {
            "event": {
                "event_start": 1507764980.43,
                "updated_at": "2017-10-11 23:36:20",
                "created_at": "2017-10-11 23:36:20",
                "id": 8
            },
            "success": true,
            "status": 200
        }

## Sport Event Detail [/sport-event/{id}]

### Sport Event Detail + Atlets [GET]

This will return the Event detail including the lists of Athlets attached to Event. 


+ Response 200 (application/json)

        {
            "event": {
                "id": 1,
                "event_start": "1507737978.6899",
                "created_at": "2017-10-11 16:06:18",
                "updated_at": "2017-10-11 16:06:18",
                "completed": 0,
                "sport_event_athlets": [
                    {
                        "id": 1,
                        "SE_id": 1,
                        "A_id": 97,
                        "code_identifier": "f5853940df3aa0d49448e5fbbcd0e2c1",
                        "start_number": 1,
                        "created_at": null,
                        "updated_at": null,
                        "first_name": "Gwynne",
                        "sur_name": "Odhams"
                    },
                    {
                        "id": 2,
                        "SE_id": 1,
                        "A_id": 58,
                        "code_identifier": "048dea559f8ccfb4eac6dcb96ef67790",
                        "start_number": 2,
                        "created_at": null,
                        "updated_at": null,
                        "first_name": "Melissa",
                        "sur_name": "Dollimore"
                    },
                ],
            },
            "success": true,
            "status": 200
        }