FORMAT: 1A
HOST: http://mc-sportevent-api.junaidahmed.online/api/v1

# Sport Event 

Sport event is basic racing event where athlets complete the races, they crosses through corridor
and finish line. Both point have chip sensors which listens to chip devices attached to athlets hands 
once recived data, device send information to Port. 




## Sport Event [/sport-event]

### List All Sport Events [GET]

+ Response 200 (application/json)

        {
            "events": [
                {
                    "id": 7,
                    "event_start": "11 Oct 2017 21:21:25.588300",
                    "created_at": "2017-10-11 21:21:25",
                    "updated_at": "2017-10-11 21:21:25",
                    "completed": 0
                },
                {
                    "id": 7,
                    "event_start": "11 Oct 2017 21:21:25.588300",
                    "created_at": "2017-10-11 21:21:25",
                    "updated_at": "2017-10-11 21:21:25",
                    "completed": 0
                },
            ],
            "success": true,
            "status": 200
        }

### Create a New Question [POST]

You may create your own question using this action. It takes a JSON
object containing a question and a collection of answers in the
form of choices.

+ Request (application/json)

        {
            "question": "Favourite programming language?",
            "choices": [
                "Swift",
                "Python",
                "Objective-C",
                "Ruby"
            ]
        }

+ Response 201 (application/json)

    + Headers

            Location: /questions/2

    + Body

            {
                "question": "Favourite programming language?",
                "published_at": "2015-08-05T08:40:51.620Z",
                "choices": [
                    {
                        "choice": "Swift",
                        "votes": 0
                    }, {
                        "choice": "Python",
                        "votes": 0
                    }, {
                        "choice": "Objective-C",
                        "votes": 0
                    }, {
                        "choice": "Ruby",
                        "votes": 0
                    }
                ]
            }